
<!--reddit-->
<a class="text-decoration-none text-reset" href="http://www.reddit.com/submit?url={{request.build_absolute_uri}}&title={{share_string}}">
    <i class="fa fa-reddit-square" aria-hidden="true"></i>
</a>
<!--facebook-->
<a class="text-decoration-none text-reset" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
    <i class="fa fa-facebook-official" aria-hidden="true"></i>
</a>
<!--googlePlus-->
<a class="text-decoration-none text-reset" href='https://plus.google.com/share?url={{request.build_absolute_uri}}'>
    <i class="fa fa-google-plus-square " aria-hidden="true"></i>
</a>
<!--linkedin-->
<a class="text-decoration-none text-reset" href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{share_string}}&summary=nocodes&source={{request.build_absolute_uri}}">
    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
</a>

