{% extends 'base.html' %}
{% load static %}
{% block title %}About me{% endblock title %}

{% block style %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock style %}


{% block content %}
{% include 'blog/!navbar.html'  %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-0"></div>
        <div class="col-md-8 col-12">
            <p class="about-title">Lets talk about me</p>
            <div class="about-title-underline"></div>
        </div>
    </div>

</div>
<div class="container-fluid about-wrapper " id="about-wrapper">
    <div class="row">
        <div class="col-md-4 col-12 order-lg-1 order-md-1 order-2 d-md-flex justify-content-end">
                <img src="{% static 'image/akashno.jpg' %}" alt="" class="profile-img">
        </div>
        <div class="col-md-8 col-12 order-lg-2 order-md-2 order-1 mb-3">
            <div class="about-container mt-3">
                <p class="about-body">Hey, it's me Akash N O. I am just trying to find things that will make me love
                    living and that's how I found my craze with computers. I am currently working on mastering backend
                    web development with python and the beautiful Django framework. It's not like my hands are 24/7 on
                    the keyboard, Hanging out with friends and playing sports are also my thing.</p>
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                    <a class="text-decoration-none text-reset" href="https://www.facebook.com/akash.no.14"><i class="fa fa-facebook mr-2" aria-hidden="true"></i></a>
                    <a class="text-decoration-none text-reset" href="https://www.instagram.com/n.o.akash/"><i class="fa fa-instagram  mr-2" aria-hidden="true"></i></a>
                    <a class="text-decoration-none text-reset" href="https://github.com/Akashno"><i class="fa fa-github mr-2" aria-hidden="true"></i></a>
                    <a class="text-decoration-none text-reset" href = "mailto: abc@example.com"><i class="fa fa-envelope-square mr-2" aria-hidden="true"></i></a>
                    <a class="text-decoration-none text-reset" href="whatsapp://send?text=hey akash!&phone=+919061936162"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                    </div>
                    <div class="shape-wrapper d-flex">
                        <div class="shape1"></div>
                        <div class="shape1"></div>
                        <div class="shape1"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row mt-5 " >
        <div class="col-md-3 col-12 order-lg-2 order-md-2 order-2 ">
            <img alt="" class="collage-img" src="{% static 'image/collage.jpg' %}">
        </div>
        <div class="col-md-9 col-12 order-lg-1 order-md-1 order-1 d-md-flex justify-content-end">
            <div class="about-container mt-3 mb-5">
                <p class="about-body">For me, college days were a lot more than just completing my BCA degree. Meeting
                    people from different places with a different vibes was way more exciting than the grades. St Mary’s College was
                    a perfect place for me to spend my campus life. The academic life I had there have helped me to
                    chose a passionate career path and more importantly finding some cool people to have around me. </p>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="shape-wrapper d-flex">
                        <div class="shape1"></div>
                        <div class="shape1"></div>
                        <div class="shape1"></div>
                    </div>
                    <p class="text-secondary font-italic">St Mary's college Sulthan Bathery</p>
                </div>
            </div>

        </div>
    </div>
     <div class="container d-flex justify-content-sm-start justify-content-md-center mt-5  ">
         <a href="{% url 'resume' %}" class="btn border-warning">view resume</a>
     </div>
</div>
{% endblock content %}


{% block script %}
<script src="{% static 'js/blogs_filter.js' %}"></script>
{% endblock script %}